/* reset */
html{
    height: 100%;
    scroll-behavior: smooth;
}
html,body{
    padding: 0;
    margin: 0;
}
body{
    background-color: burlywood;
}
*{
    box-sizing: border-box;
}
/* NavBar */
.logo{
    width: 150px;
}
.sign{
    border-radius: 5px;
}
/* Content */
input{
    width: 50%;
}
.login1{
    margin-top: 30px;
}
.login2{
    margin-top: 30px;
}
.satir{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}
.or{
    position: relative;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* Footer */
footer{
    text-align: center;
}
footer p, .footer-links, .p-footer{
    color:white;
    text-align: center;
}
footer .footer-links:hover{
    color:black;
    text-decoration: underline;
}
footer .row{
    background-color:  rgba(32, 30, 30, 0.411);
    width: 100%;
    margin: 0;
}
.footer-top{
    background-color: rgba(32, 30, 30, 0.411);
    margin-bottom: 10px;
    margin-inline: 25px;
    border-radius: 20px;
}
footer .footer-header{
    font-weight: bold;
    color: black;
    font-size: 120%;
    user-select: none;
}
footer .footer-header:hover{
    color:black;
}
.bottom{
    user-select: none;
}
footer img{
    margin-inline: 10px;
}
footer .logo1{
    width: 167px;
}
footer .logo2{
    width: 100px;
}
footer .logo3{
    width: 100px;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: burlywood;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
/* responsive */
@media screen and (max-width:575px) {
    .srch{
        margin-top: 20px;
    }
}